.results {
  text-align: end;
  padding-right: 2em;
  padding-top: 1em;
  height: 2em;
  margin: 0.23em 0.78em;
  border: 1px solid #5f6369;
  border-radius: 10px;
  width: 85.4%;
}

.background-button {
  margin: 0.1em 0.16em;
  width: 23%;
  height: 5.2em;
  border: 1px solid black;
  background-color: #3c4043;
  color: white;
  font-weight: 600;
  border-radius: 7px;
}

.background-button:hover {
  opacity: 0.8;
}

.background-calculator {
  width: 25em;
  height: 15em;
  border-radius: 15px;
}